iframe#main-window {
    width: 100vw;
    height: 100%;
}

div#app-container {
    height: 90%;
}

div.horizontal-song-list {
    margin: 3dvh 5vw;
    padding: 0;
}

div.horizontal-song-list>h2 {
    color: var(--text-col);
    user-select: none;
    margin: 0;
}

div.horizontal-song-list>ul.song-list {
    width: 90vw;
    margin: 0;
    padding-inline-start: 0.5vw;
    padding-inline-end: 0.5vw;
    overflow-x: scroll;
    white-space: nowrap;
    height: 30dvh;
    overflow-y: hidden;
}

li.song-list-card {
    cursor: pointer;
    display: block;
    height: 27dvh;
    padding: 0;
    width: var(--card-width);
    border-radius: 0.5rem;
    background-color: var(--card-color);
    margin: 1dvh 0.5vw;
    display: inline-block;
    user-select: none;
    transition: filter 0.3s ease;
}

li.song-list-card:hover {
    filter: brightness(1.2);
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

li.song-list-card>img {
    width: 80%;
    height: auto;
    margin: 10%;
    border-radius: 0.5rem;
}

li.song-list-card>p {
    margin: 0 0 0 1vw;
    box-sizing: border-box;
    width: calc(var(--card-width) - 2vw);
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--text-col);
}

li.song-list-card>p.title {
    font-weight: bold;
    font-size: 1.1rem;
    margin: 0 0 0.5dvh 1vw;
}


/* Bottom Bar */
div#music-bar {
    display: flex;
    width: 100vw;
    height: 10dvh;
    position: relative;
    background-image: url("/img/placeholder-cover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
}

div#bg-overlay {
    backdrop-filter: blur(33vw);
    display: inline-flex;
}

div#song-info {
    display: inline-flex;
    width: 33vw;
}

div#bar-song-info-text {
    margin: auto 0 auto 1vw;
    display: flex;
    height: auto;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

div#bar-song-info-text p {
    width: 100%;
    color: white;
    text-shadow: 0 0 0.5rem black, 0 0 0.75rem black, 0 0 1rem black;
    margin: 0;
}

p#bar-title {
    font-weight: bold;
}

img#bar-album-cover {
    cursor: pointer;
    height: 8dvh;
    margin: 1dvh;
    box-shadow: 0 0 0.75rem black;
    border-radius: 10%;
    contain: paint;
    user-select: none;
    view-transition-name: scale-album-cover;
}

div#bar-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 34vw;
}

div#button-controls {
    width: 100%;
    height: 5dvh;
    display: flex;
    justify-content: center;
}

div#button-controls button {
    height: 100%;
    padding: 0;
    aspect-ratio: 1/1;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

div#button-controls button:hover {
    color: var(--text-hover-col);
    font-weight: bold;
}

div#button-controls > button > svg {
    filter: drop-shadow(var(--shadow-10));
}

div#button-controls button:not(#play-pause) {
    font-size: 1rem;
}

div#button-controls button:not(#play-pause) svg {
    width: 50%;
    height: 50%;
}


button#play-pause {
    font-size: 1.5rem;
}

button#play-pause svg {
    height: 100%;
    width: 100%;
}

div#seek-container {
    width: 100%;
    height: 5dvh;
    display: inline-flex;
}

div#seek-container p {
    color: white;
    text-shadow: 0 0 0.5rem black, 0 0 0.75rem black, 0 0 1rem black;
    padding: 0 10px;
}

div#volume-controls {
    width: 33vw;
    display: inline-flex;
    justify-content: right;
}

div#volume-controls button {
    padding: 0;
    width: 4ch;
    text-shadow: var(--shadow-10);
    margin: 1%;
    font-size: 1.1rem;
    background: none;
    border: none;
    cursor: pointer;
}

div#volume-controls button:hover {
    font-weight: bold;
}

div#volume-controls button svg {
    width: 40%;
    height: auto;
}

input#volume-slider {
    box-shadow: var(--shadow-10);
    display: flex;
    margin: auto 1dvh;
}

input#seek-slider {
    width: 100%;
    height: 100%;
    margin: 0 1vw;
}

span#audio-time {
    color: var(--text-col);
}

span#audio-time>p {
    margin-right: 0.5vw;
}

span#audio-time {
    height: 100%;
    display: flex;
    align-items: center;
}

span#audio-time>p {
    display: inline-block;
}

/* General Styling */
.horizontal-scroll-thin {
    scrollbar-width: thin;
}

.horizontal-scroll-thin::-webkit-scrollbar {
    height: 0.5em;
}

.horizontal-scroll-thin::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 1rem;
}

.vertical-scroll-thin {
    scrollbar-width: thin;
}

.vertical-scroll-thin::-webkit-scrollbar {
    width: 0.5em;
}

.vertical-scroll-thin::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 1rem;
}

/* Fullscreen */
.fullscreen-info {
    z-index: 5;
    position: absolute !important;
    height: 100dvh !important;
}

.fullscreen-info div#bg-overlay {
    display: block;
    width: 100vw;
}

.fullscreen-info div#song-info {
    height: 50dvh;
    width: 100vw;
    display: block;
}

.fullscreen-info img#bar-album-cover {
    height: 33dvh;
    margin: 10dvh auto 2dvh auto;
    display: block;
}

.fullscreen-info div#bar-song-info-text {
    margin: 0 auto;
    text-align: center;
    width: 100vw;
}

.fullscreen-info div#volume-controls {
    width: 100vw;
    justify-content: center;
    margin: 2dvh auto;
}

.fullscreen-info div#bar-controls {
    width: 100vw;
}

.fullscreen-info div#seek-container {
    width: clamp(300px, 100vw, 800px);
    margin: 0 auto;
}
   
@media (max-width: 800px) {
    div#volume-controls {
        display: none;
    }

    div#song-info {
        width: 50vw;
    }

    div#bar-controls {
        width: 50vw;
    }
}