div#info {
    display: inline-flex;
    width: 100%;
    margin: 1.5rem;
}

h1#title {
    font-size: 2rem;
    color: var(--text-col);
    display: flex;
    margin: auto 0;
    margin-left: 3vw;
}

table#list {
    width: 100%;
    color: var(--text-col);
    margin: 3vw;
}

table#list tr:not(#headers):hover {
    cursor: pointer;
    background-color: var(--dropdown-bg-hover);
}

table#list th {
    font-weight: bold;
}

table#list th, td {
    text-align: left;
    padding: 0.1rem;
}

table#list td.item-title {
    display: inline-flex;
    align-items: center;

}

table#list td.item-title > span {
    margin-left: 1vw;
}

table#list td > img{
    height: 2rem;
    width: auto;
}

button#save-playlist {
    background: transparent;
    height: 100%;
    padding: 1rem;
    width: auto;
    margin: auto 0 auto 2vw;
    border: 0;
    cursor: pointer;
}

button#save-playlist:hover svg {
    filter: brightness(80%);
}

@media (max-width: 800px) {
    th#index-header, td.item-index, th#length-header, td.item-length {
        display: none;
    }
}