:root {
    --text-col: #000000;
    --text-hover-col: #eeeeee;
    --dropdown-bg-hover: #5f5f5f;
    --main-bg-col: #eeeeee;
    --card-color: #c1c1c1;
    --darken-40: rgba(0, 0, 0, 0.4);
    --card-width: clamp(150px, 18vw, 180px);
    --shadow-10: 0 0 10px black;
}

body, html {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100dvh;
    background-color: var(--main-bg-col);
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

/* menu bar */
button#menu {
    color: var(--text-col);
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem 0.5rem;
    background: none;
    border: none;
    font-size: 1rem;
    z-index: 1;
}

button#menu:hover {
    background-color: var(--darken-40);
    cursor: pointer;
}

ul#dropdown-menu {
    display: none;
    width: 20vw;
    margin: 0;
    color: var(--text-col);
    list-style: none;
    position: absolute;
    top: 1.8rem;
    right: 0;
}

ul#dropdown-menu>li {
    background-color: var(--darken-40);
    padding: 0.5rem 1vw;
}

ul#dropdown-menu>li:hover {
    cursor: pointer;
    background-color: var(--dropdown-bg-hover);
}

iframe#upload-frame {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: grey;
    width: 40vw;
    height: 20dvh;
    z-index: 3;
    border-radius: 1rem;
}

div#upload-background {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    background-color: var(--darken-40);
    z-index: 2;
}

/* search bar */
input#search {
    width: 80vw;
    padding: 0.5rem;
    border: none;
    font-size: 0.8em;
    outline: none;
}

div#top-bar {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul#search-results {
    width: 80vw;
    max-height: 80dvh;
    list-style: none;
    padding: 0;
    position: absolute;
    left: 50%;
    top: 5dvh;
    transform: translateX(-50%);
    margin: 0;
    padding: 0.5rem;
    background-color: var(--darken-40);
    overflow-y: scroll;
    display: none;
}

li.search-result {
    background-color: var(--main-bg-col);
    color: var(--text-col);
    height: 10dvh;
    margin-bottom: 2dvh;
    width: 100%;
    cursor: pointer;
}

img.result-album-cover {
    float: left;
    height: 8dvh;
    margin: 1dvh;
    border-radius: 10%;
}

p.result-song-title {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 10px 0;
}

p.result-song-title,
p.result-song-artist {
    margin: 0;
}

div.result-text-info {
    height: 100%;
    display: block
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-col: white;
        --text-hover-col: #eeeeee;
        --bar-bg: grey;
        --bar-bg-hover: #5f5f5f;
        --main-bg-col: #222222;
        --card-color: #181818;
        --dropdown-bg: #141414;
        --darken-40: rgba(0, 0, 0, 0.4);
    }
}

@media (max-width: 800px) {
    li.search-result {
        height: 10dvh;
        margin-bottom: 2dvh;
    }

    ul#search-results {
        width: 100vw;
        max-height: 60dvh;
    }

    iframe#upload-frame {
        width: 95vw;
        height: 40dvh;
    }

    ul#dropdown-menu {
        width: 100vw;
        top: 2.8rem;
    }

    button#menu {
        width: 15vw;
        padding: 1rem;
    }

    input#search {
        box-sizing: border-box;
        width: calc(85vw);
        padding: 1rem 0 1rem 2rem;
    }

    div#top-bar {
        width: 100vw;
        display: block;
    }
}