:root {
    --text-col: #000000;
    --text-hover-col: #eeeeee;
    --dropdown-bg-hover: #5f5f5f;
    --main-bg-col: #eeeeee;
    --card-color: #c1c1c1;
    --card-color-hover: #b1b1b1;
    --darken-40: rgba(0, 0, 0, 0.4);
    --shadow-10: 0 0 10px black;
}

body, html {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100dvh;
    width: 100dvw;
    background-color: var(--main-bg-col);
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-col: white;
        --text-hover-col: #eeeeee;
        --bar-bg: grey;
        --bar-bg-hover: #5f5f5f;
        --main-bg-col: #222222;
        --card-color: #181818;
        --card-color-hover: #282828;
        --dropdown-bg: #141414;
        --darken-40: rgba(0, 0, 0, 0.4);
    }
}