:root {
    --text-col: #ffffff;
    --text-hover-col: #eeeeee;
    --bar-bg: #808080;
    --bar-bg-hover: #5f5f5f;
    --main-bg-col: #eeeeee;
    --card-color: #c1c1c1;
    --darken-40: rgba(0, 0, 0, 0.4);
}

body, html {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100dvh;
    background-color: var(--main-bg-col);
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

audio#playing {
    width: 100vw;
}

div#music-controls {
    display: flex;
    width: 100vw;
    height: 5vh;
    background-color: var(--bar-bg);
}

div#music-controls>button:hover {
    background-color: var(--bar-bg-hover);
}

input#seek-slider {
    width: 100%;
    height: 100%;
    margin: 0 1vw;
}

button#play-pause {
    height: 100%;
    padding: 0;
    width: 5%;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    color: var(--text-col);
    cursor: pointer;
}

button#play-pause:hover {
    color: var(--text-hover-col);
}

button#volume {
    background-color: transparent;
    border: none;
    width: 5%;
}

span#audio-time {
    color: var(--text-col);
}

span#audio-time>p {
    margin-right: 0.5vw;
}

button#volume:hover {
    cursor: pointer;
}

span#audio-time {
    height: 100%;
    display: flex;
    align-items: center;
}

p#volume-text {
    color: var(--text-col);
    height: 100%;
    width: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

span#audio-time>p {
    display: inline-block;
}

div#app-container {
    height: 90%;
}

div#music-info {
    background-color: #5f5f5f;
    color: var(--text-col);
    border-radius: 1vw 1vw 0 0;
    height: 5%;
    width: 100vw;
    display: inline-flex;
    justify-content: center;
}

span#song-text-info {
    display: inline-flex;
    text-overflow: ellipsis;
}

span#song-text-info>p {
    margin-right: 0.5vw;
}

img#song-cover {
    height: 4dvh;
    margin: 0.5dvh;
    border-radius: 10px;
}

input#search {
    width: 80vw;
    padding: 0.5rem;
}

div#centered-content {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul#search-results {
    width: 80vw;
    max-height: 80dvh;
    list-style: none;
    padding: 0;
    position: absolute;
    left: 50%;
    top: 5dvh;
    transform: translateX(-50%);
    margin: 0;
    padding: 0.5rem;
    background-color: var(--darken-40);
    overflow-y: scroll;
    display: none;
}

li.search-result {
    background-color: var(--main-bg-col);
    color: var(--text-col);
    height: 10dvh;
    margin-bottom: 2dvh;
    width: 100%;
    cursor: pointer;
}

img.result-album-cover {
    float: left;
    height: 8dvh;
    margin: 1dvh;
    border-radius: 10%;
}

p.result-song-title {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 10px 0;
}

p.result-song-title,
p.result-song-artist {
    margin: 0;
}

div.result-text-info {
    height: 100%;
    display: block
}

button#loop-song {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    height: 5%;
    width: 5%;
    font-size: 1.2rem;
}

button#loop-song.enabled {
    background-color: var(--bar-bg);
}

div#recent-uploads-container {
    margin: 5vw;
    padding: 0;
}

div#recent-uploads-container>h2 {
    color: white;
    margin: 0;
}

ul#recent-uploads {
    width: 90vw;
    margin: 0;
    padding-inline-start: 0.5vw;
    padding-inline-end: 0.5vw;
    overflow-x: scroll;
    white-space: nowrap;
    height: 30dvh;
    overflow-y: hidden;
}

li.song-list-card {
    cursor: pointer;
    display: block;
    height: 27dvh;
    padding: 0;
    width: 150px;
    border-radius: 0.25em;
    background-color: var(--card-color);
    margin: 1dvh 0.5vw;
    display: inline-block;
    transition: filter 0.3s ease;
}

li.song-list-card:hover {
    filter: brightness(1.2);
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

li.song-list-card>img {
    width: 80%;
    height: auto;
    margin: 10%;
    border-radius: 5%;
}

li.song-list-card>p {
    margin: 0 0 0 1vw;
    width: calc(150px - 2vw);
    /* to account for right margin */
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--text-col);
}

li.song-list-card>p.title {
    font-size: 1.1rem;
    margin: 0 0 0.5dvh 1vw;
}


.horizontal-scroll-thin {
    scrollbar-width: thin;
}

.horizontal-scroll-thin::-webkit-scrollbar {
    height: 0.5em;
}

.horizontal-scroll-thin::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 1rem;
}

.vertical-scroll-thin {
    scrollbar-width: thin;
}

.vertical-scroll-thin::-webkit-scrollbar {
    width: 0.5em;
}

.vertical-scroll-thin::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 1rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-col: white;
        --text-hover-col: #eeeeee;
        --bar-bg: grey;
        --bar-bg-hover: #5f5f5f;
        --main-bg-col: #222222;
        --card-color: #181818;
    }
}
   
@media (max-width: 800px) {
    .volume-controls {
        display: none !important;
    }

    button#play-pause {
        width: 25%;
    }

    button#loop-song {
        width: 15%;
    }

    div#music-controls {
        height: 8%;
    }

    div#app-container {
        height: 87%;
    }

    span#audio-time {
        width: 25%;
        justify-content: center;
    }

    li.search-result {
        height: 10dvh;
        margin-bottom: 2dvh;
    }

    ul#search-results {
        width: 100vw;
        max-height: 60dvh;
    }
}